html {
  height: 100%;
}
body {
  background: #000;
  transition: all 2s linear;
}
body:hover {
  background: #eee;
}
.uno {
  background: linear-gradient(#00008b, #00009c, #003eff);
  height: 150px;
  margin: 2em 2em;
  position: absolute;
  transition: all 0.4s linear;
  width: 300px;
  border-radius: 50%;
}
.uno:hover {
  margin: 1em 2em;
}
.uno:after {
  border-radius: 50%;
  bottom: -25px;
  content: '';
  margin: 0 0.5em;
  transition: all 0.5s;
}
.uno:hover:after {
  background: rgba(255,255,255,0.3);
  height: 20px;
  position: absolute;
  width: 290px;
}
.dos {
  background-image: url("../img/git.png");
  background-size: cover;
  border: 10px double #0ff;
  border-radius: 50%;
  display: inline-block;
  height: 200px;
  left: 30%;
  margin: 1em 0;
  position: relative;
  transition: all 0.5s;
  width: 200px;
}
.dos:hover {
  border-radius: inherit;
  border: 10px double #000;
}
.tres {
  width: 250px;
  height: 150px;
  background: #fcf75e;
  margin: 0 2em;
}
.tres:after {
  content: '';
  transition: all 0.8s ease;
  width: 0px;
  height: 0px;
  background: linear-gradient(-45deg, #eee 0%, #ddd 15%, #ccc 25%, #bbb 40%, #aaa 49%, #ffd90f 50%);
}
.tres:hover:after {
  width: 60px;
  height: 60px;
  position: absolute;
  box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.6);
}
.cuatro {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  left: 70%;
  top: -200px;
  -webkit-animation: estrella 6s infinite linear;
}
@-webkit-keyframes estrella {
  0% {
    box-shadow: 0 0 0 5px #f00;
  }
  100% {
    top: 200px;
    left: 400px;
    box-shadow: 0 0 0 5px #0ff;
  }
}
