html {
  height: 100%;
}
body {
  background: linear-gradient(#cd5c5c, #eb5e66, #b22222);
}
.uno {
  margin: 2em 2em;
  width: 300px;
  height: 150px;
  background: linear-gradient(#00008b, #00009c, #003eff);
  transition: all 0.4s linear;
  position: absolute;
}
.uno:hover {
  margin: 1em 2em;
}
.uno:after {
  content: '';
  transition: all 0.5s;
  bottom: -25px;
  border-radius: 50%;
  margin: 0 0.5em;
}
.uno:hover:after {
  width: 290px;
  height: 20px;
  background: rgba(0,0,0,0.3);
  position: absolute;
}
