<!DOCTYPE html>
html(lang="es-mx")
head

	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/proyectos.css")
	title Proyectos
body
	.uno
	.dos
	.tres
	.cuatro
	section.filter
		figure.filter-item
			img(src="img/img.jpg", alt="")
			img(src="img/img.jpg", alt="")
		figure.animation
			img(src="img/img.jpg", alt="")

