html
	height 100%
body
	background linear-gradient(indianred, #EB5E66, firebrick)
	
.uno
	margin 2em 2em
	width 300px
	height 150px
	background linear-gradient(darkblue, #00009C, #003EFF)
	transition all .4s linear
	position absolute

	&:hover
		margin 1em 2em
		
	&:after
		content ''
		transition all .5s
		bottom -25px
		border-radius 50%
		margin 0 .5em
		
	&:hover:after
		width 290px
		height 20px
		background rgba(black, .3)
		position absolute