html
	height 100%
body
	// background linear-gradient(indianred, #EB5E66, firebrick)
	background black
	transition all 2s linear
	
.uno
	background linear-gradient(darkblue, #00009C, #003EFF)
	height 150px
	margin 2em 2em
	position absolute
	transition all .4s linear
	width 300px
	border-radius 50%

	&:hover
		margin 1em 2em
		
	&:after
		border-radius 50%
		bottom -25px
		content ''
		margin 0 .5em
		transition all .5s
		
	&:hover:after
		background rgba(white, .3)
		height 20px
		position absolute
		width 290px

.dos
	background-image url("../img/git.png")
	// background-position 50% 35%
	background-size cover
	border 10px double cyan
	border-radius 50%
	display inline-block
	height 200px
	left 30%
	margin 1em 0
	position relative
	transition all .5s
	width 200px
	
	&:hover
		border-radius inherit
		border 10px double black
		
.tres
	width 250px
	height 150px
	background #FCF75E
	margin 0 2em
	
	&:after
		content ''
		transition all .8s ease
		width 0px
		height 0px
		background linear-gradient(-45deg,#eee 0%,#ddd 15%,#ccc 25%,#bbb 40%,#aaa 49% ,#FFD90F 50%)
	
	&:hover:after
		width 60px
		height 60px
		position absolute
		box-shadow 3px 3px 3px 2px rgba(black .6)

.cuatro
	width 5px
	height 5px
	background white
	border-radius 50%
	// box-shadow 0 0 0 4px rgba(cyan .5)
	position relative
	left 70%
	top -200px
	-webkit-animation estrella 6s infinite linear

.filter
	width 100%
	margin 0
	padding 0

	.filter-item
		width 45%
		display inline-block
		margin 2em 0
		
		
		img
			display inline-block
			width 100%
			-webkit-filter grayscale(.9) blur(3px)
	
			&:last-child
				bottom 385px
				left 105%
				position relative
				-webkit-filter inherit

.animation
	top -380px
	position relative
	width 60%
	-webkit-animation animacion 6s infinite linear
	
	img
		width 100%
@-webkit-keyframes animacion
	0%
		// transition all 1s linear
		-webkit-transform rotate(360deg)
		-webkit-filter grayscale(.4)
	20%
		-webkit-transform none
		-webkit-filter grayscale(.7)
	30%
		-webkit-filter grayscale(.8)
	40%
		-webkit-filter grayscale(.9)
	50%
		-webkit-filter grayscale(1)
	60%
		-webkit-filter sepia(80%)
	70%
		-webkit-filter blur(3px)
	80%
		-webkit-filter blur(3px)
	90%
		-webkit-filter blur(3px)
	100%
		-webkit-filter blur(3px)
	
		
@-webkit-keyframes estrella
	0%
		// top 200px
		// left 400px
		box-shadow 0 0 0 5px red

	100%
		top 200px
		left 400px
		box-shadow 0 0 0 5px cyan